@media (max-width: 500px){
    header nav{
        width: 50px;
    }    
      
    header #menuMovil{
        display:block;
    }
    header #menuWeb{
        display: none;
    }
    #about .col, #contacto .col {
        width: 100%;
        }

    #proyectos{
        padding-bottom: 30px;
    }
    #proyectos .item {
        width: 100%;
        height: auto;
    }
    #caja1{
        padding: 25px;
    }
    
   #main video{
        display: none;
    }  
    #main #overlay{
        background-image: url(../img/moras.jpg);
    }
    
    #titulo {
        height: 190px;
        }
        #derechos {
            height: 80px;
            background-color: black;
            text-align: center;
            color: white;
            padding-top: 100px;
            float: left;
        }
        @media(max-width: 700px){

        }
       
} 