@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght');
:root{
    --p-amarillo:#f3d13f;
    --p-morado:#c516c5;
    --p-text:#0e0f0f;
    --gris:#15181c;
}
*{
    margin:0px;
    padding: 0px;
}
body{
    background: black;
    font-family: 'Lato', sans-serif;
}

 #login{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
 }
 #login .col{
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     flex: 1;
     height: 100vh;
 }
 h3{
     padding-left: 20px;
 }
 #login .col:first-child{
     flex: 2;
     background-image: url(../img/fondo.png);
     background-size: 130% 100%;
     background-position: -10% 0;
 }
 
.btnAceptar{
    width: 110px;
    height: 30px;
    border-radius: 6px;
    padding: 10px;
    font-size: 1rem;
    background-image: url(../img/peluchemorado.jpg);
    border-color: yellow;
    color: yellow;
}
fieldset{
    border:hidden;
    padding-top: 30px;
    width: 80%;
    resize: none;
    padding-left:20px;
}
input{
    border-color: violet;
    width: 400px;
    height: 35px;
}
 .logito2          {
    height:15% ;
    width: 45%;
    padding-top: 100px;
    padding-left: 200px;
}
button{
    padding:5px 10px 5px 10px;
    background-color: var(--p-morado);
    background-image:url(../img/peluchemorado.jpg);
    background-size: 100% 100%;
    border:2px solid var(--p-amarillo);
    border-radius:10px;
    color: var(--p-amarillo);
    height:40px;
    min-width:150px;
    font-size:1.2rem;
    transition:0.5s ease-out all;
}
button:hover{
    background-image:url(../img/plucheazul.jpg);
    color: var(--p-amarillo);
    cursor:pointer;
}
/*col.btnAceptar{
    background-color: violet;
  background-image:url(../img/peluchemorado.jpg);
}*/
/*INDEXXXXXXXXXXXXXXXXXXXXXXX*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color:white;
    height: 150px;
}
header > div, main aside{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
header > div:first-child img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

header >div:nth-child(2),section#center{
    flex: 2;
    border-right: 1px solid var(--gris);
    border-left: 1px solid var(--gris);
}
header h1{
    margin-left: 20px;
    margin-top: 20px;
}
header #search input{
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding-left: 5px;
    background-color:var(--gris) ;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}
.imgUser{
    width: 50px;
    height: 50px;
    border-radius:50%;
    border:2px solid var(--p-amarillo);
}
#newPost, .post{
   
    padding: 10px;
    display: flex;
    flex-direction: row;
}
#newPost >div:first-child,.post >div:first-child{
    flex: 0.2;
}
#newPost >div:last-child, .post >div:last-child{
    flex: 2;
    padding: 5px;
}
#newPost >div:last-child >textarea{
    resize: none;
    background-color: transparent;
    border: none;
    outline-color: var(--p-text);
    display: block;
    width: 98%;
    padding: 5px;
    color:white;
    font-size: 1.3rem;;
}
.card{
    background-color: var(--gris);
    margin: 20px;
    width: calc(100% - 50px);
    min-height: 200px;
    padding: 5px;
}
.post >div:last-child{
    color:white;
}
.post >div:last-child h2 span:last-child{
    color:var(--gris);
}
.post .textTweet{
 padding-top: 10px;
}